#contentContainer{
	height: 70%;
	width: 80%;
}

.picto{
	height: 30vh;
	width: 30vh;
	background-color: white;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}



.cadenas{
	height: 100%;
	width: 100%;
	border-radius: 100%;
	background-color: grey;
	opacity: 0.9;
	background-image: url('../images/cadenas.png');
	background-position: center;
	background-repeat: no-repeat;

}

.picto-picross{
	background-image: url('../images/picross.png');
}
