<div id="globalContainer" class="flex flex-center flex-aic">
	<div id="contentContainer" class="flex flex-sa flex-aic flex-col">
		<div id="btn-ui-container" class="flex flex-sa flex-aic">
			<button class="btn-ui" routerLink="/aventure/mastermind" routerLinkActive="active" [disabled]= "lvl<1">Mastermind</button>
		</div>
		<div id="btn-ui-container" class="flex flex-sa flex-aic">
			<button class="btn-ui" routerLink="/aventure/picross" routerLinkActive="active" [disabled]= "lvl<2">Picross</button>
		</div>
		
		<div id="btn-ui-container" class="flex flex-sa flex-aic">
			<button class="btn-ui" routerLink="/aventure/rush-hour" routerLinkActive="active" [disabled]= "lvl<3">Rush-Hour</button>
		</div>
		

		<button class="btn-ui" routerLink="/main" routerLinkActive="active">Retour au menu principal</button>
	</div>
</div>


