/* You can add global styles to this file, and also import other style files */
.flex{
	display: flex;
}

.flex-col{
	flex-direction: column;
}

.flex-center{
	justify-content: center;
}

.flex-sa{
	justify-content: space-around;
}

.flex-sb{
	justify-content: space-between;
}

.flex-se{
	justify-content: space-evenly;
}

.flex-aic{
	align-items: center;
}

.flex-aifs{
	align-items: flex-start;
}

.flex-aife{
	align-items: flex-end;
}

body {
	background-image: url('./app/images/background.jpg');
	background-size:100%;
	margin:0;
}

#globalContainer{
	height: 100vh;
	width: 100vw;
}

.btn-ui{
	height: 75px;
    width: 225px;
    border-radius: 20px;
    border: 4px solid black;
    background-color: #4d4d4d;
    color: #FFB74D;
    font-size: calc(1.2vw + 1.2vh);
    font-family: fantasy;
    transition: all 0.5s;
    margin: 15px; 
}

.btn-ui:hover{
	color: red;
	transition: all 0.5s;
	transform: scale(1.2);
	box-shadow: 0px 0px 30px 30px rgba(255,255,125,0.25);
}

.btn-ui:active {
    transform: scale(1.3);
    
}


#btnRetour{
	position: absolute;
	top: 20px;
	left: 20px;
}

#contentContainer{
	height: 70%;
    width: 80%;
}

input{
	height: calc(1.5vw + 1.5vh);
	width: calc(8vw + 8vh);
	margin-left: 15px;
	border-radius: 10px;
	border: 1px solid #AAA;
	padding-left: 10px;
}

.btn-ui-disabled{
	height: 75px;
    width: 225px;
    border-radius: 20px;
    border: 4px solid black;
    background-color: #4d4d4d;
    color: grey;
    font-size: calc(1.2vw + 1.2vh);
    font-family: fantasy;
    transition: all 0.5s;
    margin: 15px; 
}
