/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:GillSansBold;
    src: local('Gill Sans'), url(./assets/fonts/GILB____.TTF) format('truetype');
}

@font-face {
    font-family:GillSansCond;
    src: local('Gill Sans'), url(./assets/fonts/GILC____.TTF) format('truetype');
}

@font-face {
    font-family:GillSans;
    src: local('Gill Sans'), url(./assets/fonts/GIL_____.TTF) format('truetype');
}

html * {
	font-family:GillSansBold;
	font-weight: bolder;
}

.flex{
	display: flex;
}

.flex-col{
	flex-direction: column;
}

.flex-center{
	justify-content: center;
}

.flex-sa{
	justify-content: space-around;
}

.flex-sb{
	justify-content: space-between;
}

.flex-se{
	justify-content: space-evenly;
}

.flex-aic{
	align-items: center;
}

.flex-aifs{
	align-items: flex-start;
}

.flex-aife{
	align-items: flex-end;
}

body {
	background-image: url('./app/images/background.jpg');
	background-size:100%;
	margin:0;
}

#titre {
	font-size: xx-large;
    color: white;
    text-shadow: 2px 1px 0px #ff8106;
    position: absolute;
	top: 10px;
    width: 100vw;
    text-align: center;
}

#globalContainer{
	height: 100vh;
	width: 100vw;
}

.btn-ui{
    height: calc(4vh + 4vw);
    width: calc(11vh + 11vw);
    border-radius: 20px;
    border: 4px solid black;
    background-color: #4d4d4d;
    color: #FFB74D;
    font-size: calc(1.2vw + 1.2vh);
    transition: all 0.5s;
    margin: 15px; 
}

.btn-ui:hover{
	color: red;
	transition: all 0.5s;
	transform: scale(1.2);
	box-shadow: 0px 0px 30px 30px rgba(255,255,125,0.25);
}

.btn-ui:active {
    transform: scale(1.3);
    
}


#btnRetour{
	position: absolute;
	top: 20px;
	left: 20px;
}

#contentContainer{
	height: 70%;
    width: 80%;
}
