#ecranFin{
	background-color: white;
	border-radius: 15px;
	position: absolute;
	color:darkorange;
	padding:1%;
}

#joueur1, #joueur2{
	height: 100%;
	width: 35%;
	color: white;
}

#colOperations{
	width: 30%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

#WindowContainer{
	height: 60vh;
    width: 100%;
}

.operation{
	height: 10%;
    width: 100%;
    font-size: calc(1vw + 1vh);
}

.operationEnonce{
	width: 40%;
	height: 100%;
	color:darkorange;
}

.trackerResultat{
	width: 20%;
	height: 100%;
}

.trackerResultat1{
	background-image: url('../images/fleche_gauche.png');
}

.trackerResultat2{
	background-image: url('../images/fleche_droite.png');
}

.trackerResultat1, .trackerResultat2{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}