#picross_canvas{
	height: 80vh;
	width: 80vh;
}

.replay{
    height: 30px;
    width: auto;
    margin: 0px;
    border: 1px solid black;
    font-size: medium;
    background-color: #4d4d4d;
    border-radius: 20px;
    color: #FFB74D;
    transition: all 0.5s;
}

.replay:hover{
    color: red;
	transition: all 0.5s;
	transform: scale(1.05);
}

.label {
	color:white;
}

#ligne1{
	height: 20vh;
}

#ligne2{
	height: 80vh;
}

#colonnes_consigne{
	width: 80vh;
}

#zone_blanche{
	width: 20vh;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid transparent;
}


/*.ligne{
	height: 12vh;
}*/

.ligne_consigne{
	width: 20vh;
}

.ligne_case{
	width: 80vh;
}

/*.case{
	width: 12vh;
}

.colonne_consigne{
	width: 12vh;
}*/


.case, .ligne_consigne, .colonne_consigne{
	border:1px solid;
	background-color: white; 
}

.number{
	margin: 0px 3px 0px 3px;
}

.croix{
	background-color: red;
}

.black{
	background-color: black;
}

.termine{
	background-color: yellow;
}

.taille_5_width{
	width: 12vh;
}

.taille_10_width{
	width: 6vh;
}

.taille_15_width{
	width: 4vh;
}

.taille_5_height{
	height: 12vh;
}

.taille_10_height{
	height: 6vh;
}

.taille_15_height{
	height: 4vh;
}

#finNiveau{
	position: absolute;
	bottom: 1%;
	width: 50%;
	left: 25%;
}

.btn-ui-disabled{
	position: relative;
}

.tooltip{
	position: absolute;
    top: 110%;
    width: 79%;
    font-size: calc(0.8vw + 0.8vh);
    background: white;
    color: darkorange;
    padding: 9%;
    border-radius: 7px;
    font-family: 'GillSans';
}