<div id="fond_demo" class="flex flex-center flex-aic flex-col">
	<img class="image_pres" src="assets/images/titre.png">
	<img class="image_pres" src="assets/images/sommaire.png">
	<img class="image_pres" src="assets/images/technos.png">
	<h1>Mastermind</h1>
	<video class="video_pres" width="1200" height="750" controls>
		<source src="assets/videos/mastermind.mp4" type="video/mp4">
	</video>
	<h1>Picross</h1>
	<video class="video_pres" width="1200" height="750" controls>
		<source src="assets/videos/picross.mp4" type="video/mp4">
	</video>
	<h1>Rush-Hour</h1>
	<video class="video_pres" width="1200" height="750" controls>
		<source src="assets/videos/rush-hour.mp4" type="video/mp4">
	</video>
	<h1>Calcul mental VS</h1>
	<video class="video_pres" width="1200" height="750" controls>
		<source src="assets/videos/calcul-vs.mp4" type="video/mp4">
	</video>
	<h1>Guard</h1>
	<video class="video_pres" width="1200" height="750" controls>
		<source src="assets/videos/authGuard.mp4" type="video/mp4">
	</video>
	<img class="image_pres" src="assets/images/fin.png">
</div>