<div id="globalContainer" class="flex flex-center flex-aic flex-col">
  <div id="contentContainer" class="contentContainer flex flex-center flex-aic flex-col">
    <h1 id="titre">TITRE</h1>
    <form [formGroup]="UserForm" (ngSubmit)="onSubmit()" novalidate class="flex flex-aic flex-center flex-col">
      <div class="flex flex-sa flex-aic item">
        <label class="flex flex-fs label">Name</label>
        <input type="text" formControlName="name" class="form-control flex flex-end input" required>
      </div>
      <div class="flex flex-sa flex-aic item ">
        <label class="flex flex-fs label">Password</label>
        <input type="password" formControlName="password" class="form-control flex flex-end input" required>
      </div>
      <div class="flex flex-sa flex-aic item-bouton">
        <button class="btn-ui" type="submit" [disabled]="!UserForm.valid">Connexion</button>
      </div>
    </form>

    <button class="btn-ui" routerLink="/inscription" routerLinkActive="active">Inscription</button>
  </div>
</div>