
#btn-ui-container{
	width: 80%;
}

.picto{
	height: 30vh;
	width: 30vh;
	background-color: white;
	border-radius: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.picto-user{
	background-image: url('../images/user.png');
}

.picto-group{
	background-image: url('../images/group.png');
}