#globalContainer{
  width: 100vw;
  height: 100vh;
}



body{
  margin: 0px;
}

.ligne{

}

.case{
  width: 12vh;
  height: 12vh;
  border: 1px solid black;
}

#grille{
  position: relative;
  background-color: white;
}

.voiture{
  background-color: grey;
  border: 3px solid black;
  position: absolute;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

#voiture_0{
  background-color: darkorange;
  border: 3px solid black;
}

.selected{
  background-color: red !important;
}


#buttons{
  position: relative;
  height: 100%;
  width: 100%;
}

.bouton_fleche{
  height: 8vw;
  width: 8vw;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#boutonUp{
  left: 6vw;
  top: 1vw;
  background-image: url('../images/up.png');
}

#boutonDown{
  left: 6vw;
  top: 11vw;
  background-image: url('../images/down.png');
}

#boutonLeft{
  left: 1vw;
  top: 6vw;
  background-image: url('../images/left.png');
}

#boutonRight{
  left: 11vw;
  top: 6vw;
  background-image: url('../images/right.png');
}

#boutonContainer{
  position: absolute;
  height: 20vw;
  width: 20vw;
  left: 6vw;
}

#drapeau{
  background-image: url('../images/drapeau.png');
  position: absolute;
  bottom: 37vh;
    right: -12vh;
    height: 13vh;
    width: 13vh;
  background-repeat: no-repeat;
  background-size: contain;
}

#finNiveau{
  position: absolute;
  right: 2%;
  width: 15vw;
  top: 45%;
}

.replay{
    height: 30px;
    width: auto;
    margin: 0px;
    border: 1px solid black;
    font-size: medium;
    background-color: #4d4d4d;
    border-radius: 20px;
    color: #FFB74D;
    transition: all 0.5s;
}

.replay:hover{
    color: red;
  transition: all 0.5s;
  transform: scale(1.05);
}

.label {
  color:white;
}